@using SE_RequestOnHoliday.ViewModel
@model  IEnumerable<RestVM>

@{
    ViewBag.Title = "Index";   
}

<h2>Данные по сотруднику</h2>


@Html.ActionLink("Подать заявку", "Apply", "Employeer", new { id = @ViewBag.EmployeerID },new {  @class="btn"})


@*<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>@item.Id</tr>
            <tr>@item.Name</tr>
            <tr>@item.StartDate</tr>
            <tr>@item.EndDate</tr>
        }
    </tbody>
</table>*@
